body {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #6a78f2;
}

.block {
    padding: 30px;
    margin: 50px;
}

/*  */

.block {
    /* opacity: 1;
    visibility: hidden; */

    width: 400px;
    height: 100px;
    overflow: auto;
}

.inline {
    opacity: .5;
}

.img {
    opacity: .5;
}